@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.screen {
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .screen {
    max-width: 320px; /* or a specific value, e.g., 360px */
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex; }
